

.service-card-image-size {
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.service-card-title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    white-space: pre;
}

.service-card-sizing {
    width: 276px;
    height: 88px;
}

.service-card-bg {
    background-color: var(--white-project);
}

@media(min-width: 640px) {
    .service-card-image-size {
        width: 140px;
        height: 140px;
    }

    .service-card-title {
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        line-height: 1.2;
        white-space: pre;
    }

    .service-card-sizing {
        width: 464px;
        height: 164px;
    }
}