.mobile-content-appearance {
    display: flex;
}

.desktop-content-appearance {
    display: none;
}

@media(min-width: 640px) {
    .mobile-content-appearance {
        display: none;
    }

    .desktop-content-appearance {
        display: flex;
    }

    .desktop-background {
        background-image: url("../../public/desktopHero.png");
        background-repeat: no-repeat;
        background-position: right;
    }
}

@media(max-width: 1355px) {
    .desktop-background  {
        background-image: none;
    }
}