
.header_background_color {
    background-color: var(--primary-project);
}

.header_justify_content {
    justify-content: center;
}

.header_button_visible {
    display: none;
}

.header-logo-width {
    width: 100px;
}

.header-padding {
    padding: 12px;
}

@media(min-width: 640px) {
    .header_background_color {
        background-color: var(--white-project);
    }

    .header_justify_content {
        justify-content: space-between;
    }

    .header_button_visible {
        display: inline-flex;
    }

    .header-logo-width {
        width: 204px;
    }

    .header-padding {
        padding: 32px 0px;
    }
}



